# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml

# Ignore all HTML files
**/*.html
.eslintcache
**/*.md
config
/node_modules/
package.json
